apiVersion: apps/v1
kind: Deployment
metadata:
  name: lla-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lla-app
  template:
    metadata:
      labels:
        app: lla-app
    spec:
      containers:
      - name: lla-app
        image: asia-southeast1-docker.pkg.dev/lla-project-392714/lla-images/lla-app:1.0.0
        ports:
        - containerPort: 8080
        env:
          - name: PORT  
            value: "8080"
        resources:
          requests:
            memory: "512Mi"
            cpu: "100m"
            ephemeral-storage: "512Mi"
          limits:
            memory: "512Mi"
            cpu: "100m"
            ephemeral-storage: "512Mi"
---